:root {
    --gray0: rgb(243, 243, 243);
    --gray1: rgb(212, 211, 211);
    --accentColor: #EB0017;
    --accentColor3: #eb001842;
    --accentColor5: #eb00183f;



    --borderRadius: 0.5rem;
    --toggleBorderRadius: 2rem;
}

/* 100, 300, 400, 700 */

body {
    background-color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}



h1 {
    font-size: 2.5rem;
    line-height: 2.25rem;
}

h2 {
    font-size: 2rem;
    line-height: 2rem;
}

h3 {
    font-size: 1.5rem;
    line-height: 2.5rem;
}

h4 {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

h5 {
    font-size: 1.125rem;
    line-height: 1.5rem;
}

h6 {
    font-size: 1rem;
    line-height: 1.375rem
}

p,
li {
    line-height: 1.325rem;
    margin: 1rem 0;
}

small {
    display: block;
    font-size: .875rem;
    line-height: 1rem;
    margin-bottom: .25rem;
}

a,
a:visited {
    border-bottom: 1px solid var(--accentColor);
    color: var(--accentColor);
    text-decoration: none;
}

a:hover {
    border-color: black;
    color: black;
}

i {
    color: black;
    display: inline-block;
    padding-right: .25rem;
    text-align: center;
    width: 1rem;
}

.wrapperMaxWidth {
    text-align: center;

    width: 100%;
}

.containerMaxWidth {
    margin: 0 auto;
    max-width: 38rem;

    text-align: left;
}

.wrapperCasestudy {
    padding: 0 1rem;
}

@media (min-width: 600px) {
    .wrapperMaxWidth {
        margin-bottom: 2rem;
    }

    .wrapperCasestudy {
        padding: 0 0;
    }
}

.videoContainer {
    width: 200px;
}